.panel {
  position: absolute;
  border: 4px solid #fff;
  background-color: #1d1d1d;
  padding: 1.4rem;
  transition: 0.6s ease-in;

  .monitor {
    background-color: #0084ff;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 1.4rem;
    white-space: pre-wrap;

    .screen {
      overflow-y: scroll;
      height: 100%;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 3px;
      }
    }
  }

  .panel-after {
    position: absolute;
    display: flex;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    z-index: 2;
    color: #fff;
    align-items: center;
    justify-content: center;
    // pointer-events: none;
  }
}

#computer {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  border-radius: 15px 15px 0 0;

  border-bottom: none;
  padding-bottom: 0;

  .computer-after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 45px;
  }

  &:hover,
  &.active {
    top: 40%;
  }
}

#topics {
  $topics-width: 400px;
  top: 50%;
  right: 100%;
  left: auto;
  transform: translateY(-50%);
  height: 80%;
  width: $topics-width;
  border-radius: 0 15px 15px 0;
  border-left: none;
  padding-left: 0;
  z-index: 3;

  .system-header {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .system-arrow {
    margin-right: 8px;
    user-select: none;
  }
  .arrow-icon {
    display: inline-block;
    transition: transform 0.2s;
  }
  .arrow-icon.open {
    transform: rotate(90deg);
  }
  .system-name {
    cursor: pointer;
  }

  .topics-after {
    top: 10%;
    left: 100%;
    width: 60px;
    height: 60px;
  }

  &:hover {
    right: calc(100% - $topics-width);
  }
}

#configuration {
  $topics-width: 400px;
  top: 50%;
  left: 100%;
  right: auto;
  transform: translateY(-50%);
  height: 80%;
  width: $topics-width;
  border-radius: 15px 0 0 15px;
  border-right: none;
  padding-right: 0;
  z-index: 3;

  .configuration-after,
  &::after {
    top: 10%;
    right: 100%;
    width: 60px;
    height: 60px;
  }

  &:hover {
    left: calc(100% - $topics-width);
  }
}
