<router-outlet />
<nav id="topics" class="panel">
  <div class="monitor">
    <div class="screen">
      <ul>
        @for (system of starSystems; track system.name) {
        <li>
          <span class="system-header" (click)="toggleSystem(system)">
            <span class="system-arrow">
              <span class="arrow-icon" [class.open]="openedSystem === system"
                >▶</span
              >
            </span>
            <strong class="system-name" (click)="flyToSystem(system.name)"
              >{{ system.name }}</strong
            >
          </span>
          @if (openedSystem === system) {
          <ul>
            @for (planet of system.planets; track planet.originalName) {
            <li (click)="flyToPlanet(planet.originalName)">
              {{ planet.name }}
            </li>
            }
          </ul>
          }
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="panel-after topics-after">
    <app-icons name="travel" [size]="'32'" />
  </div>
</nav>
<section [ngClass]="{ active: observedBodies }" class="panel" id="computer">
  <div class="monitor">
    <div class="screen">
      @if (planetMarkdown) {
      <markdown [data]="planetMarkdown"></markdown>
      } @else {
      <markdown> # {{ planetTranslation?.title || observedBodies }} </markdown>
      @if (planetTranslation?.description?.length) { @for (paragraph of
      planetTranslation.description; track paragraph) { @if (paragraph.length >
      1) {
      <markdown [data]="'## ' + paragraph[0]"></markdown>
      @for (item of paragraph.slice(1); track item) {
      <markdown [data]="item"></markdown>
      } } @else {
      <markdown [data]="paragraph[0]"></markdown>
      }
      <br /><br />
      } } @else {
      <markdown
        [data]="planetTranslation?.description?.[0]?.[0] || ''"
      ></markdown>
      } }
    </div>
  </div>
  <div class="panel-after computer-after"></div>
</section>

<div id="configuration" class="panel">
  <div class="monitor">
    <div class="screen">
      <div>
        <h1>{{ configTitle }}</h1>
        <p>{{ configDescription }}</p>
      </div>
      <div class="options">
        <app-selector-language />
        <button (click)="openEmailModal()">{{ contactButtonLabel }}</button>
      </div>
    </div>
  </div>
  <div class="panel-after configuration-after">
    <app-icons name="gear" [size]="'32'" />
  </div>
</div>
